page-menu-detail {
  .my-detail {
    background-color: #fff;
  }
  img {
    height: 25em;
    width: 100%;
  }
  .my-select {
    background-color: #fff;
    color: #000;
    font-size: 2em;
  }

  .desc {
    font-size: 1.75em;
    padding-bottom: 2em;
  }

}
